*.class
*.log
.vscode/*
.metals/*
.bloop/*
.idea

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/.bloop/*
project/project/.bloop/
project/project/project/

.bsp

# Code frmater
.scalafmt.conf